<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>592651647618-mb9vco0hsss2djcdgvv1gh7apchbas09.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.592651647618-mb9vco0hsss2djcdgvv1gh7apchbas09</string>
	<key>API_KEY</key>
	<string>AIzaSyCG68ld-JI_NLYA8pF7DTyByGJZL59C4Hs</string>
	<key>GCM_SENDER_ID</key>
	<string>592651647618</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.example.dailyDoer</string>
	<key>PROJECT_ID</key>
	<string>daily-doer-8f65e</string>
	<key>STORAGE_BUCKET</key>
	<string>daily-doer-8f65e.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:592651647618:ios:cbe82a3675c77cdc21129b</string>
</dict>
</plist>